html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.tally {
    display: flex;
    background: rgba(168, 168, 168, 0.685);

}
.round-picks {
    display: flex;
    min-height: 50px;
    background: rgba(168, 168, 168, 0.685);
}

.player-name {
    min-width: 20vw;
    text-align: center;
}
.computer-name {
    min-width: 20vw;
    text-align: center;
}
.player-choice {
    min-width: 20vw;
    min-height: 15vh;
    text-align: center;
}
.computer-choice {
    min-width: 20vw;
    min-height: 15vh;
    text-align: center;
}
.points {
    min-width: 20vw;
    /* flex: 1; */
    text-align: center;
}


.players {
    background: rgba(168, 168, 168, 0.685);
    display: flex;
}

.result {
    min-width: 40vw;
    min-height: 100px;
    background: rgba(168, 168, 168, 0.685);
}

#result {
    text-align: center;
    font-size: 30px;
}

.reset {
    margin-top: 15px;
}